{% extends 'partials/_base.html' %}
{% load static %}


{% block content %}
    <section class="site-section pt-5">
        <div class="container">

            <div class="row blog-entries">
                <div class="col-md-12 col-lg-8 main-content">

                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="mb-4">Hi There! I'm Rahul Reddy Vade</h2>
                            <h2 class="mb-4">UFID:14288319</h2>
                            <p class="mb-5"><img src="{% static 'images/img_7.jpg' %}" alt="Image placeholder" class="img-fluid"></p>
                           <p>I am pursuing my Masters in Computer and Information Sciences at University of Florida.</p>
                           <p>## Open for Software Engineer internship position :)</p>
                           <p>This webpage is a part of my Assignment for the course :- Human Computer Interation</p>
                        </div>
                    </div>
                </div>

                <!-- END main-content -->
{% endblock %}
</div>
</div>
</section>